[build]
command = ""

[build.upload]
format = "service-worker"

[[build.upload.rules]]
type = "Text"
globs = ["**/*.html"]

[[build.upload.rules]]
type = "Text"
globs = ["**/*.css"]

[[build.upload.rules]]
type = "Text"
globs = ["**/*.js"]

[[build.upload.rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]

[[build.upload.rules]]
type = "Text"
globs = ["**/*.txt"]
